<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pub.doric">


    <application>
        <activity
            android:name="pub.doric.DoricActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
