<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pub.doric.devkit">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application>
        <activity
            android:name=".ui.DoricDevActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".qrcode.activity.CaptureActivity" />
        <activity android:name=".ui.DoricShowNodeTreeActivity" />
        <activity
            android:name=".ui.DoricDevPerfActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
    </application>
</manifest>
