<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pub.doric">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity android:name="pub.doric.DoricActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
